body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
   
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #28a745;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.daily-progress {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
    color: #555;
}

.progress {
    margin: 20px 0;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 20px;
    background: #28a745;
    width: 0;
    transition: width 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f9f9f9;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.removeTaskButton {
    background: transparent;
    border: none;
    color: #dc3545;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
}

.removeTaskButton:hover {
    color: #c82333;
}